<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Amir Ridwan</h1>
        <h3>Information Technology Fresh Graduate</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/amirridwan/" target="_blank" class="">
            <img src="../../assets/linkedin logo.png" width="24" height="24" class="me-2">
        </a>

        <a href="https://github.com/AmirRidwan" target="_blank" class="">
            <img src="../../assets/github logo.png" width="24" height="24" class="me-2  ">
        </a>
    </div>
</div>