<nav class="navbar navbar-expand-md border-bottom mb-3 py-3">
    <div class="container d-flex justify-content-center">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-secondary font-weight-bold px-3" routerLink="/home" routerLinkActive="text-dark border-bottom border-primary">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary font-weight-bold px-3" routerLink="/portfolio" routerLinkActive="text-dark border-bottom border-primary">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary font-weight-bold px-3" routerLink="/resume" routerLinkActive="text-dark border-bottom border-primary">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary font-weight-bold px-3" routerLink="/contact" routerLinkActive="text-dark border-bottom border-primary">Contact</a>
            </li>
        </ul>
    </div>
</nav>