.navbar .nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-link {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.navbar-toggler {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}

.navbar-toggler-icon {
    display: inline-block;
}

.navbar-collapse {
    display: none; /* Hide by default */
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-collapse.show {
    display: flex; /* Show when the class 'show' is applied */
}

@media (max-width: 767.98px) {
    .navbar .nav {
        flex-direction: column;
    }
}
